#DATASET & TRAINING
DATASET_YAML_PATH=path/to/dataset/data.yaml
CUSTOM_MODEL_WEIGHTS_PATH=path/to/custom/model/weights/best.pt
OCR_MODEL_WEIGHTS_PATH=path/to/ocr/model/weights/best.pt

#DATABASE
DB_NAME=your_db_name
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5433 # Puerto expuesto por Docker

#MAIN
LP_MODEL_PATH=path/to/LP/model/best.pt
OCR_MODEL_PATH=path/to/OCR/model/best.pt

#CAMARA ID
CAMERA_ID=1