#Carpeta de datasets 
data/

#Carpeta de modelos entrenados
models/

#Cache
__pycache__/

#Entornos virtuales
venv/

#Modelos preentrenados
*.pt

#Archivo de entorno
.env

#Resultados de entrenamiento
*run/

#Listado complemento de dependencias
full_requirements*.txt

#Scripts de prueba y experimentación notebooks
notebooks/*.jpg
notebooks/comparacion_visual.py
notebooks/entrenamiento_final.ipynb

#Video de prueba
*.MOV

#Tests de base de datos
db/*tests.py