#Carpeta de datos 
data/

#Carpeta de modelos entrenados
models/

#Cache
__pycache__/

#Entornos virtuales
venv/

#Modelos preentrenados
*.pt

#Archivo de entorno
.env

#Resultados de entrenamiento
*run/

#Listado complemento de dependencias
full_requirements.txt